on:
  pull_request:
    branches:
      - main

name: validate

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          push: false
          load: true
          tags: html2pdf:test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run PDF service container
        run: docker run -d -p 3000:3000 --name html2pdf html2pdf:test

      - run: npm run test

      - name: Stop PDF container
        if: always()
        run: docker stop html2pdf && docker rm html2pdf
